.bend {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
  }

  .titlebleu{
    font: bold;
    color: rgb(78, 101, 236);
    position: fixed;
    top: -2.5%;
    right: 50%;
    left: 50%;
    
  }
  .titlevert{
    font: bold;
    color: rgb(115, 236, 78);
    position: fixed;
    top: -2.5%;
    right: 50%;
    left: 50%;
  }
  .titlerouge{
    font: bold;
    color: rgb(247, 0, 0);
    position: fixed;
    top: -2.5%;
    right: 50%;
    left: 50%;
    
  }
  .titlejaune{
    font: bold;
    color: rgb(233, 210, 0);
    position: fixed;
    top: -2.5%;
    right: 50%;
    left: 50%;
  }