.button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-size: cover;
    transition: transform .7s;
}

.button:hover{
    transform: scale(1.5);
}

#image1 img{
    width: 47%;
    height: 47%;
    position: absolute; 
    top: 2%;
    right: 2%;  
}

#image2 img{
    width: 47%;
    height: 47%;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

#image3 img{
    width: 47%;
    height: 47%;
    position: absolute;
    top: 2%;
    left: 2%;
    
}

#image4 img{
    width: 47%;
    height: 47%;
    position: absolute;
    bottom: 2%;
    left: 2%;
    
}

#logo-centre img{
    cursor: pointer;
    position: absolute;
    height: 60%;
    width: 30%;
    top: 20%;
    left: 35%;
}

.bend {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .titlebleu{
    font: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(78, 101, 236);
    height: 1px;
    position: fixed;
    top: -2.5%;
    right: 50%;
    left: 50%;
    
  }
  .titlevert{
    font: bold;
    color: rgb(115, 236, 78);
    position: fixed;
    top: -2.5%;
    right: 50%;
    left: 50%;
  }
  .titlerouge{
    font: bold;
    color: rgb(247, 0, 0);
    position: fixed;
    top: -2.5%;
    right: 50%;
    left: 50%;
    
  }
  .titlejaune{
    font: bold;
    color: rgb(233, 210, 0);
    position: fixed;
    top: -2.5%;
    right: 50%;
    left: 50%;
  }

@media screen and (max-width: 320px) { @viewport { width: 320px; } }
