.button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-size: cover;
    transition: transform .7s;
}

.button:hover{
    transform: scale(1.5);
}

#image1 img{
    width: 47%;
    height: 47%;
    position: absolute; 
    top: 2%;
    right: 2%;  
}

#image2 img{
    width: 47%;
    height: 47%;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

#image3 img{
    width: 47%;
    height: 47%;
    position: absolute;
    top: 2%;
    left: 2%;
    
}

#image4 img{
    width: 47%;
    height: 47%;
    position: absolute;
    bottom: 2%;
    left: 2%;
    
}

#logo-centre img{
    position: absolute;
    height: 60%;
    width: 30%;
    top: 20%;
    left: 35%;
}



@media screen and (max-width: 320px) { @viewport { width: 320px; } }